In [ ]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:
import pandas as pd

In [ ]:
citiesdb = pd.read_csv('traffic_accidents.csv') 
citiesdb.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21,40,41,42,44,50,58,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(10000, 72)

In [ ]:
citiesdb = citiesdb[(citiesdb['VEHICLE_YEAR'] >= 2006)]
citiesdb.shape

(6011, 72)

In [ ]:
%sql DROP TABLE if EXISTS citiesdb;

%sql PERSIST citiesdb;

%sql SELECT * FROM citiesdb LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 54, '0ecbc94e9e6a01f8d1fadca458d84be6d51ef9d42b1f4c2f4367a2388fef03451e8bcd7a797f7dfb84f03cf362f81e56429ac15787893f6350e7166d54ad9cff', 'HY372069', '08/06/2015 06:00:00 PM', 2, 'PARKED', None, 53.0, None, 'LINCOLN-CONTINENTAL', 'MKX', 'IL', 2008.0, 'NONE', 'PASSENGER', 'NOT IN USE', 'N', 'PARKED', None, None, 0.0, None, None, None, None, None, None, 'Y', 'Y', None, None, None, None, None, None, None, None, None, 'REAR-RIGHT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (3, 145, '7bd0f17b2a365cb53396bf29ac78123c1c258465aa0f1773c792a03d1b36f98e92f60a8ebb87ebaee5f957a3e9813b9aa5ac4f6430498bc0e3a64167765e7165', 'HY376728', '08/10/2015 02:15:00 PM', 2, 'DRIVER', None, 141.0, None, 'MERCEDES-BENZ', 'C250', 'IL', 2013.0, 'NONE', 'PASSENGER', 'PERSONAL', 'S', 'STRAIGHT AHEAD', None, None, 1.0, None, None, None, None, None, None, None, None, 'Y', None, None, None, None, None, None, None, None, 'REAR', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (4, 257, '07155af1c0a71c36e32ab53f86b525d929154b3d7290ae0830b7baa834c7c6f2b22e14a6656406ccad8685bf5f9ac54b058dce68d7122bd468729a941f1c3a97', 'HY383388', '08/15/2015 12:10:00 PM', 1, 'DRIVER', None, 247.0, None, 'MERCEDES-BENZ', 'GLK220', 'IL', 2015.0, 'NONE', 'PASSENGER', 'OTHER', 'E', 'STRAIGHT AHEAD', None, None, 1.0, None, None, None, 'N', 'Y', None, None, None, None, None, None, None, None, None, None, None, None, 'FRONT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (5, 283, '6a54948070f52dcfc8682fc14a374871b76561244c2383fcb89004ebe418262f56c7249c1dfe00f1206dc7d8017d39da4ca23015e6739c668e12cddd302038ee', 'HY385182', '08/16/2015 07:00:00 PM', 2, 'DRIVER', 5.0, 270.0, None, 'TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'IL', 2014.0, 'NONE', 'PASSENGER', 'PERSONAL', 'W', 'SLOW/STOP - RIGHT TURN', None, None, 6.0, None, None, None, None, 'Y', 'Y', None, None, None, None, None, 'Y', None, None, None, None, None, 'FRONT-LEFT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (6, 327, '0ff295104810bc4e8d6c15e4fc92a5beb3768c792bb995b80bf2fe3904e6d30390fce363ae8b4c99a0c48cca42697d43a385b8b654cfea77d59a7c11342fc664', 'HY386474', '08/16/2015 01:45:00 PM', 2, 'PARKED', None, 312.0, None, 'LEXUS', 'RX350', 'IL', 2015.0, 'NONE', 'SPORT UTILITY VEHICLE (SUV)', 'OTHER', 'N', 'PARKED', None, None, 0.0, None, None, None, None, None, None, None, 'N', 'Y', 'N', None, None, None, None, None, None, None, 'REAR', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

In [ ]:
# Display a list of 5 makes that had the highest number of crashes?
%sql select make,count(*) no_of_crashes from citiesdb group by make order by no_of_crashes desc limit 5

 * sqlite://
Done.

[('CHEVROLET', 774),
 ('FORD', 703),
 ('NISSAN', 616),
 ('TOYOTA MOTOR COMPANY, LTD.', 537),
 ('HONDA', 436)]

In [ ]:
# Most personal vehicles involved in crashes were traveling towards which direction?
# VEHICLE_USE	TRAVEL_DIRECTION
%%sql select TRAVEL_DIRECTION,count(*) no_of_crashes from citiesdb where VEHICLE_USE='PERSONAL' 
group by travel_direction ORDER BY no_of_crashes desc

 * sqlite://
Done.

[('N', 1034),
 ('S', 1015),
 ('W', 919),
 ('E', 911),
 ('UNKNOWN', 167),
 ('SE', 72),
 ('NW', 66),
 ('SW', 40),
 ('NE', 35)]

In [ ]:
#  How many passengers were involved in personal cars were in accidents?
%sql select sum(OCCUPANT_CNT) no_of_passengers from citiesdb where VEHICLE_USE='PERSONAL'

 * sqlite://
Done.

[(7062.0,)]

In [ ]:
# How many passengers were involved in accidents while traveling in personal Sport Utility vehicles?
%sql select sum(OCCUPANT_CNT) no_of_passengers from citiesdb  where VEHICLE_TYPE='SPORT UTILITY VEHICLE (SUV)'

 * sqlite://
Done.

[(1399.0,)]

In [ ]:
# Compute the total number of Mercedez-Benz vehicles involved in accidents while being parked.
%sql select COUNT(DISTINCT VEHICLE_ID) NO_OF_VEHICLES from citiesdb where MAKE='MERCEDES-BENZ' AND MANEUVER='PARKED'

 * sqlite://
Done.

[(22,)]

In [ ]:
# Compute the total occupant count per vehicle count.
%sql select make,SUM(OCCUPANT_CNT) occupants_count from citiesdb group by make order by occupants_count desc

 * sqlite://
Done.

[('CHEVROLET', 1250.0),
 ('FORD', 1165.0),
 ('UNKNOWN', 1049.0),
 ('NISSAN', 866.0),
 ('TOYOTA MOTOR COMPANY, LTD.', 836.0),
 ('HONDA', 760.0),
 ('DODGE', 448.0),
 ('HYUNDAI', 426.0),
 ('JEEP', 420.0),
 ('TOYOTA', 294.0),
 ('CHRYSLER', 214.0),
 ('VOLKSWAGEN', 189.0),
 ('LEXUS', 160.0),
 ('MERCEDES-BENZ', 148.0),
 ('BUICK', 142.0),
 ('INFINITI', 140.0),
 ('KIA MOTORS CORP', 137.0),
 ('PONTIAC', 131.0),
 ('BMW', 129.0),
 ('CADILLAC', 120.0),
 ('MAZDA', 120.0),
 ('GENERAL MOTORS CORP.', 97.0),
 ('SUBARU', 91.0),
 ('ACURA', 86.0),
 ('AUDI', 76.0),
 ('MITSUBISHI', 75.0),
 ('KIA', 74.0),
 ('VOLVO', 59.0),
 ('FREIGHTLINER CORP.', 55.0),
 ('LINCOLN-CONTINENTAL', 55.0),
 ('MERCURY', 55.0),
 ('NEW FLYER', 55.0),
 ('GENERAL MOTORS CORPORATION (GMC)', 52.0),
 ('SATURN', 49.0),
 ('BLUEBIRD INTERNATIONAL', 31.0),
 ('ACURA (DIV. OF AMERICAN HONDA MOTOR CO.)', 24.0),
 ('FREIGHTLINER CORPORATION', 22.0),
 ('OLDSMOBILE', 21.0),
 ('SUZUKI', 21.0),
 ('LINCOLN', 20.0),
 ('ISUZU', 19.0),
 ('MACK TRUCKS, INC.', 17.0),
 ('SCION', 13.0),
 ('FIAT', 11.0),
 ('JAGUAR', 11.0),
 ('LAND ROVER', 10.0),
 ('MINI', 10.0),
 ('RANGE ROVER OF NORTH AMERICA', 10.0),
 ('HINO', 9.0),
 ('INTERNATIONAL HARVESTER', 9.0),
 ('KENWORTH MOTOR TRUCK COMPANY', 9.0),
 ('AUTOCAR', 8.0),
 ('NAVISTAR', 8.0),
 ('PORSCHE', 8.0),
 ('HARLEY-DAVIDSON', 7.0),
 ('SAAB', 6.0),
 ('YAMAHA', 6.0),
 ('TESLA', 5.0),
 ('TESLA MOTORS', 5.0),
 ('THOMAS BUILT BUS CO.', 5.0),
 ('GENERAL ENGINES', 4.0),
 ('INTERNATIONAL TRAILER CORP.', 4.0),
 ('KENWORTH MOTOR TRUCK CO.', 4.0),
 ('MOTOR COACH INDUSTRIES, INC.', 4.0),
 ('NOVA BUS', 4.0),
 ('BLUE BIRD BODY COMPANY', 3.0),
 ('GILL MFG. CO.', 3.0),
 ('PETERBILT MOTORS CO., DIVISION PACCAR, INC.', 3.0),
 ('STERLING', 3.0),
 ('TRANSIT', 3.0),
 ('U-HAUL CO, DIVISION PARKHURST MANUFACTURING CO.', 3.0),
 ('AM GENERAL/HUMMER', 2.0),
 ('BLUE BIRD BODY CO.', 2.0),
 ('CUB CADET (MFD. BY INTERNATIONAL HARVESTER CO.)', 2.0),
 ('CWC FEATHER-LITE, EL RENO, OKLAHOMA', 2.0),
 ('DART, KW', 2.0),
 ('EAGLE', 2.0),
 ('EALGE INTERNATIONAL, INC., BROWNSVILL, TEXAS', 2.0),
 ('ENGLISH FORD (BRITISH)', 2.0),
 ('GENERAL', 2.0),
 ('GREAT DANE TRAILERS INC.', 2.0),
 ('INTERNATIONAL COACH MFG.', 2.0),
 ('INTERNATIONAL TRAILER CORPORATION', 2.0),
 ('KEN TRAILER', 2.0),
 ('MASERATI', 2.0),
 ('PLYMOUTH', 2.0),
 ('THOMAS BUILT BUS COMPANY', 2.0),
 ('"ALLISON\'S FIBERGLASS MFG., INC (PORT ORANGE., FLORIDA)."', 1.0),
 ('"CLASSIC MOTOR CARRIAGES, INC. (HALLANDALE, FLORIDA)"', 1.0),
 ('ALFA ROMEO', 1.0),
 ('AMTRAN CORP, GENSIS BUSES', 1.0),
 ('BANTAM CRANE', 1.0),
 ('BEALL FLATBED TRAILER', 1.0),
 ('BSA', 1.0),
 ('CABLE CRANE & EXCAVATOR (DIVISION OF FMC CORPORATION)', 1.0),
 ('CAN-AM', 1.0),
 ('CARAVAN INDUSTRIES', 1.0),
 ('CAT', 1.0),
 ('COLT (MFD. BY SUZUKI MOTOR CORP.)', 1.0),
 ('COMMERICAL VEHICLES, INC., TULSA, OKLA.', 1.0),
 ('COOK SEMI TRAILER', 1.0),
 ('CUSHMAN TURF-OMC LINCOLN', 1.0),
 ('DEERE, JOHN COMPANY', 1.0),
 ('DODD MFG. CO., INC.', 1.0),
 ('EAST DUMP TRAILER', 1.0),
 ('FLEXIBLE', 1.0),
 ('GROVE', 1.0),
 ('HACKNEY & SONS, INC,', 1.0),
 ('HILBILT MANUFACTURING COMPANY (BENTON, AR)', 1.0),
 ('HYUNDAI TRAILERS', 1.0),
 ('ICL CARGO TRAILER', 1.0),
 ('INTENATIONAL INDUSTRIES, INC.', 1.0),
 ('INTERCONSULT MFG. CO.', 1.0),
 ('INTERNATIONAL COACH MANUFACTURING', 1.0),
 ('INTERNATIONAL HARVESTER CO.', 1.0),
 ('INTERNATIONAL HARVESTER COMPANY', 1.0),
 ('KAWASAKI MOTORS CORP.', 1.0),
 ('LINCOLN PARK MOBILE HOMES, INC., SHIPSHEWNAN, IN', 1.0),
 ('LULL ENGINEERING CO., -MARSHALL SEEBURG & SONS', 1.0),
 ('MACK TRAILER MANUFACTURING COMPANY, INC. (DETRIOT, MI)', 1.0),
 ('MCBURNIE COACH CRAFT, INC., SANTEE,CA', 1.0),
 ('MCKAY MFG. CO., INC.', 1.0),
 ('MINI-CRUISER (MFD. BY R.B.R. CORP.)', 1.0),
 ('MOTOC SEMI FLATBED TRAILER', 1.0),
 ('NECEDAH FLYERS (MFD. BY TWIN CITY RACING)', 1.0),
 ('NORTH AMERICAN BUS INDUSTRIES', 1.0),
 ('OTTAWA TRUCK DIV., (GULF WESTERN MFG. CO.)', 1.0),
 ('PETERBILT MOTORS COMPANY (DIVISION OF PACCAR, INC.)', 1.0),
 ('PETERSON', 1.0),
 ('PIERCE MANUFACTURING, INC.(APPLETON, WI)', 1.0),
 ('TEM KEN TRAILERS MFG.', 1.0),
 ('TEREX, EUCLID & TEREX PRODUCTS', 1.0),
 ('TOWN & COUNTRY MFG.', 1.0),
 ('TRIUMPH', 1.0),
 ('TRUCKING TRAILER (MFD. BY V.M.T CORP.)', 1.0),
 ('VAN GUARD TRAILER, LTD.', 1.0),
 ('VESPA', 1.0),
 ('WANAMAKER TRAILER', 1.0),
 ('WORK HORSE MANUFACTURING', 1.0),
 ('BENTLEY', 0.0),
 ('CENTURION INTERNATIONAL, INC., WACO,TX', 0.0),
 ('COOPER', 0.0),
 ('FIESTA (IMPORTED BY FORD)', 0.0),
 ('GEO', 0.0),
 ('HUMMER', 0.0),
 ('OLSON', 0.0),
 ('UTILITY TRAILER', 0.0),
 (None, None)]

In [ ]:
# Sort the number of passengers in descending order by travel direction taking into account travel direction. Return travel direction and no. of passengers.
%%sql select travel_direction,sum(OCCUPANT_CNT) no_of_passengers from citiesdb 
group by travel_direction ORDER BY no_of_passengers desc

 * sqlite://
Done.

[('S', 2498.0),
 ('N', 2460.0),
 ('W', 2235.0),
 ('E', 2146.0),
 ('UNKNOWN', 613.0),
 ('SE', 163.0),
 ('NW', 158.0),
 ('NE', 107.0),
 ('SW', 90.0),
 (None, None)]

In [ ]:
# Select the top 5 vehicle models involved in the accident with no defect, order them by make, and show their maneuver
# %sql select * from citiesdb limit 2

%sql select make,model,maneuver,count(*) no_of_crashes from citiesdb where model in (select model from (select model,count(*) no_of_crashes from citiesdb where VEHICLE_DEFECT='NONE' and not model='UNKNOWN' and not model='OTHER (EXPLAIN IN NARRATIVE)' group by model order by no_of_crashes desc limit 5)) group by make,model,maneuver order by make

# %sql select model from (select model,count(*) no_of_crashes from citiesdb where VEHICLE_DEFECT='NONE' and not model='UNKNOWN' and not model='OTHER (EXPLAIN IN NARRATIVE)' group by model order by no_of_crashes desc limit 5)

 * sqlite://
Done.

[('HONDA', 'ACCORD', 'AVOIDING VEHICLES/OBJECTS', 1),
 ('HONDA', 'ACCORD', 'CHANGING LANES', 5),
 ('HONDA', 'ACCORD', 'ENTER FROM DRIVE/ALLEY', 1),
 ('HONDA', 'ACCORD', 'ENTERING TRAFFIC LANE FROM PARKING', 1),
 ('HONDA', 'ACCORD', 'MERGING', 3),
 ('HONDA', 'ACCORD', 'NEGOTIATING A CURVE', 1),
 ('HONDA', 'ACCORD', 'PARKED', 29),
 ('HONDA', 'ACCORD', 'SKIDDING/CONTROL LOSS', 2),
 ('HONDA', 'ACCORD', 'SLOW/STOP - LEFT TURN', 1),
 ('HONDA', 'ACCORD', 'SLOW/STOP - RIGHT TURN', 2),
 ('HONDA', 'ACCORD', 'SLOW/STOP IN TRAFFIC', 12),
 ('HONDA', 'ACCORD', 'STARTING IN TRAFFIC', 1),
 ('HONDA', 'ACCORD', 'STRAIGHT AHEAD', 82),
 ('HONDA', 'ACCORD', 'TURNING LEFT', 16),
 ('HONDA', 'ACCORD', 'TURNING RIGHT', 1),
 ('HONDA', 'ACCORD', 'U-TURN', 1),
 ('HONDA', 'ACCORD', 'UNKNOWN/NA', 5),
 ('HONDA', 'CIVIC', 'AVOIDING VEHICLES/OBJECTS', 1),
 ('HONDA', 'CIVIC', 'BACKING', 2),
 ('HONDA', 'CIVIC', 'CHANGING LANES', 5),
 ('HONDA', 'CIVIC', 'ENTER FROM DRIVE/ALLEY', 2),
 ('HONDA', 'CIVIC', 'ENTERING TRAFFIC LANE FROM PARKING', 2),
 ('HONDA', 'CIVIC', 'LEAVING TRAFFIC LANE TO PARK', 1),
 ('HONDA', 'CIVIC', 'OTHER', 2),
 ('HONDA', 'CIVIC', 'PARKED', 40),
 ('HONDA', 'CIVIC', 'PARKED IN TRAFFIC LANE', 2),
 ('HONDA', 'CIVIC', 'PASSING/OVERTAKING', 4),
 ('HONDA', 'CIVIC', 'SKIDDING/CONTROL LOSS', 1),
 ('HONDA', 'CIVIC', 'SLOW/STOP - LEFT TURN', 3),
 ('HONDA', 'CIVIC', 'SLOW/STOP - LOAD/UNLOAD', 3),
 ('HONDA', 'CIVIC', 'SLOW/STOP - RIGHT TURN', 1),
 ('HONDA', 'CIVIC', 'SLOW/STOP IN TRAFFIC', 7),
 ('HONDA', 'CIVIC', 'STRAIGHT AHEAD', 93),
 ('HONDA', 'CIVIC', 'TURNING LEFT', 16),
 ('HONDA', 'CIVIC', 'TURNING RIGHT', 2),
 ('HONDA', 'CIVIC', 'U-TURN', 1),
 ('HONDA', 'CIVIC', 'UNKNOWN/NA', 7),
 ('NISSAN', 'NISSAN ALTIMA', 'AVOIDING VEHICLES/OBJECTS', 1),
 ('NISSAN', 'NISSAN ALTIMA', 'BACKING', 6),
 ('NISSAN', 'NISSAN ALTIMA', 'CHANGING LANES', 4),
 ('NISSAN', 'NISSAN ALTIMA', 'ENTERING TRAFFIC LANE FROM PARKING', 4),
 ('NISSAN', 'NISSAN ALTIMA', 'MERGING', 1),
 ('NISSAN', 'NISSAN ALTIMA', 'NEGOTIATING A CURVE', 1),
 ('NISSAN', 'NISSAN ALTIMA', 'OTHER', 1),
 ('NISSAN', 'NISSAN ALTIMA', 'PARKED', 27),
 ('NISSAN', 'NISSAN ALTIMA', 'PASSING/OVERTAKING', 2),
 ('NISSAN', 'NISSAN ALTIMA', 'SLOW/STOP - LOAD/UNLOAD', 1),
 ('NISSAN', 'NISSAN ALTIMA', 'SLOW/STOP IN TRAFFIC', 10),
 ('NISSAN', 'NISSAN ALTIMA', 'STRAIGHT AHEAD', 83),
 ('NISSAN', 'NISSAN ALTIMA', 'TURNING LEFT', 7),
 ('NISSAN', 'NISSAN ALTIMA', 'TURNING RIGHT', 4),
 ('NISSAN', 'NISSAN ALTIMA', 'U-TURN', 1),
 ('NISSAN', 'NISSAN ALTIMA', 'UNKNOWN/NA', 5),
 ('TOYOTA', 'CAMRY', 'BACKING', 3),
 ('TOYOTA', 'CAMRY', 'DRIVING WRONG WAY', 1),
 ('TOYOTA', 'CAMRY', 'ENTER FROM DRIVE/ALLEY', 2),
 ('TOYOTA', 'CAMRY', 'ENTERING TRAFFIC LANE FROM PARKING', 1),
 ('TOYOTA', 'CAMRY', 'OTHER', 1),
 ('TOYOTA', 'CAMRY', 'PARKED', 14),
 ('TOYOTA', 'CAMRY', 'SLOW/STOP IN TRAFFIC', 7),
 ('TOYOTA', 'CAMRY', 'STARTING IN TRAFFIC', 1),
 ('TOYOTA', 'CAMRY', 'STRAIGHT AHEAD', 40),
 ('TOYOTA', 'CAMRY', 'TURNING LEFT', 7),
 ('TOYOTA', 'CAMRY', 'TURNING RIGHT', 2),
 ('TOYOTA', 'CAMRY', 'U-TURN', 1),
 ('TOYOTA', 'CAMRY', 'UNKNOWN/NA', 3),
 ('TOYOTA', 'COROLLA', 'BACKING', 1),
 ('TOYOTA', 'COROLLA', 'CHANGING LANES', 5),
 ('TOYOTA', 'COROLLA', 'ENTERING TRAFFIC LANE FROM PARKING', 3),
 ('TOYOTA', 'COROLLA', 'OTHER', 1),
 ('TOYOTA', 'COROLLA', 'PARKED', 10),
 ('TOYOTA', 'COROLLA', 'PASSING/OVERTAKING', 1),
 ('TOYOTA', 'COROLLA', 'SKIDDING/CONTROL LOSS', 1),
 ('TOYOTA', 'COROLLA', 'SLOW/STOP IN TRAFFIC', 8),
 ('TOYOTA', 'COROLLA', 'STARTING IN TRAFFIC', 1),
 ('TOYOTA', 'COROLLA', 'STRAIGHT AHEAD', 25),
 ('TOYOTA', 'COROLLA', 'TURNING LEFT', 4),
 ('TOYOTA', 'COROLLA', 'U-TURN', 1),
 ('TOYOTA', 'COROLLA', 'UNKNOWN/NA', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'BACKING', 8),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'CHANGING LANES', 4),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'DRIVING WRONG WAY', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'ENTER FROM DRIVE/ALLEY', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'ENTERING TRAFFIC LANE FROM PARKING', 4),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'LEAVING TRAFFIC LANE TO PARK', 2),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'MERGING', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'OTHER', 4),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'PARKED', 32),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'PARKED IN TRAFFIC LANE', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'PASSING/OVERTAKING', 4),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'SKIDDING/CONTROL LOSS', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'SLOW/STOP - LEFT TURN', 2),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'SLOW/STOP - RIGHT TURN', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'SLOW/STOP IN TRAFFIC', 30),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'STARTING IN TRAFFIC', 2),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'STRAIGHT AHEAD', 120),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'TURNING LEFT', 20),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'TURNING RIGHT', 8),
 ('TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'UNKNOWN/NA', 5),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'AVOIDING VEHICLES/OBJECTS', 3),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'BACKING', 2),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'CHANGING LANES', 4),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'ENTERING TRAFFIC LANE FROM PARKING', 3),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'NEGOTIATING A CURVE', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'OTHER', 2),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'PARKED', 15),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'PASSING/OVERTAKING', 2),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'SLOW/STOP - RIGHT TURN', 1),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'SLOW/STOP IN TRAFFIC', 15),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'STARTING IN TRAFFIC', 2),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'STRAIGHT AHEAD', 57),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'TURNING LEFT', 7),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'TURNING RIGHT', 5),
 ('TOYOTA MOTOR COMPANY, LTD.', 'COROLLA', 'UNKNOWN/NA', 1)]

In [ ]:
# Which ridesharing vehicles in an accident had the most number of passengers? Return model, and the number of passengers.
%sql select model,occupant_cnt from citiesdb where vehicle_use='RIDESHARE SERVICE' order by occupant_cnt desc limit 1
# %sql select * from citiesdb limit 1

 * sqlite://
Done.

[('JETTA', 5.0)]